name: CI Build
     
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.*
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: Package
      run:  |
            dotnet publish ./SignalChop/Crosberg.SignalChop.csproj -r win-x64 -c Release -p:PublishSingleFile=true -p:PublishTrimmed=true -o Release/win-x64
            dotnet publish ./SignalChop/Crosberg.SignalChop.csproj -r win-arm64 -c Release -p:PublishSingleFile=true -p:PublishTrimmed=true -o Release/win-arm64
            dotnet publish ./SignalChop/Crosberg.SignalChop.csproj -r linux-x64 -c Release -p:PublishSingleFile=true -p:PublishTrimmed=true -o Release/linux-x64
            dotnet publish ./SignalChop/Crosberg.SignalChop.csproj -r linux-arm -c Release -p:PublishSingleFile=true -p:PublishTrimmed=true -o Release/linux-arm
            dotnet publish ./SignalChop/Crosberg.SignalChop.csproj -r linux-arm64 -c Release -p:PublishSingleFile=true -p:PublishTrimmed=true -o Release/linux-arm64
            dotnet publish ./SignalChop/Crosberg.SignalChop.csproj -r osx-x64 -c Release -p:PublishSingleFile=true -p:PublishTrimmed=true -o Release/osx-x64